.penciltest-app {
  width: 100%;
  height: 100%;
  background-color: #666666;
}
.penciltest-app .field {
  width: 720px;
  height: 405px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -202.5px 0 0 -360px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);
}
