.penciltest-app {
  width: 100%;
  background-color: #666666;
}
.penciltest-app.hide-cursor {
  cursor: none;
}
.penciltest-app .field {
  width: 720px;
  height: 405px;
  background-color: white;
  display: block;
  margin: 0 auto;
  box-shadow: 0 1em 4em rgba(0, 0, 0, 0.5);
}
.penciltest-app .menu {
  display: none;
  position: absolute;
  top: 1em;
  left: 1em;
  box-shadow: 0 0.5em 2em rgba(0, 0, 0, 0.5);
  background-color: white;
  list-style: none;
  padding: 0;
  margin: 0;
}
.penciltest-app .menu li {
  list-style: inherit;
  padding: 0.5em 0.5em 0.5em 1.5em;
  color: #666666;
  cursor: pointer;
  position: relative;
}
.penciltest-app .menu li:hover {
  color: black;
}
.penciltest-app .menu li.enabled::before {
  content: "*";
  position: absolute;
  left: 0;
  display: block;
  width: 1em;
  text-align: center;
}
.penciltest-app.menu-visible .menu {
  display: block;
}
