@include penciltest {
  width: 100%;
  background-color: $gray;

  &.hide-cursor {
    cursor: none;
  }

  .field {
    $fieldAspect: 16 9;
    $fieldWidth: 720px;
    $fieldHeight: $fieldWidth / nth($fieldAspect, 1) * nth($fieldAspect, 2);
    width: $fieldWidth;
    height: $fieldHeight;
    background-color: $white;
    display: block;
    margin: 0 auto;
    box-shadow: 0 1em 4em rgba(0, 0, 0, 0.5);
    position: relative;

    .status {
      position: absolute;
      bottom: -2em;
      right: 0;
      width: 100%;
      text-align: right;
      font-family: monospace;
      color: $white;

      &.hidden {
        display: none;
      }
    }
  }

  .menu {
    display: none;
    position: absolute;
    top: 1em;
    left: 1em;
    box-shadow: 0 0.5em 2em rgba(0, 0, 0, 0.5);
    background-color: white;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      list-style: inherit;
      padding: 0.5em 0.5em 0.5em 1.5em;
      color: $gray;
      cursor: pointer;
      position: relative;

      &:hover {
        color: black;
      }

      &.enabled::before {
        content: "*";
        position: absolute;
        left: 0;
        display: block;
        width: 1em;
        text-align: center;
      }
    }
  }

  &.menu-visible .menu {
    display: block;
  }
}
