@use "colors";
@use "config";

@include config.penciltest {

  &[x-mode="drawing"] [x-key="statusMode"][x-progress] {
    display: inline-block;
    position: relative;
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      height: 0.2em;
      background-color: var(--fg-accent-border);
      width: attr("x-progress")%;
    }
  }

  width: 100%;
   .field-container {
    cursor: progress;

    &.dragging {
      cursor: ew-resize;
    }
  }

  &[x-tool="flip"] .field-container {
    cursor: ew-resize;
  }

  &[x-tool="pan"] .field-container {
    cursor: grab;

    &.dragging {
      cursor: grabbing;
    }
  }

  &[x-tool="eraser"] .field-container {
    cursor: pointer;

    &.dragging {
      cursor: grab;
    }
  }

  &[x-tool="pencil"] .field-container {
    cursor: crosshair;

    &.dragging {
      cursor: cell;
    }
  }

  .field-container {
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
    top: 0;
    left: 0;

    .field {
      margin: 0 auto;
      box-shadow: 0 1em 4em rgba(0, 0, 0, 0.8);
      background-color: colors.$white;
      position: relative;
      width: 960px;
      height: 960px;

      & > canvas:first-child {
        position: absolute;
      }

      & > canvas:last-child {
        background-color: transparent;
        position: relative;
      }
    }
  }

  &.hide-cursor:not([x-tool=pan]) {
    .field {
      cursor: none;
    }
  }

  form.config {
    label {
      margin: 0 0.5em 0 1.0em;
    }
  }
}
